.contact{
    margin: 30px;
    height: calc(100vh - 185px);
   color: #fff;
} 

.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.address{
    display: flex;
    flex-direction: column;
    justify-content: center;
}