 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(12, 6, 22);
    padding: 20px 80px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(230, 227, 227, 0.6);
  }



#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    font-weight: 600;
    transition: 0.4s ease-in-out;
    cursor: pointer;
     
}

#navbar li a{
    color: #fff;
    text-decoration: none;
    transition: 0.4s ease-in-out;
 }

#navbar li:hover, #navbar li a:hover{
    color: rgb(99, 106, 138);
 }

#navbar li:hover::after{
    content: "";
    width: 30px;
    height: 2px;
    background-color: rgb(72, 85, 129);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile i{
    color: #fff;
    align-items: center;
    transition: 0.4s;
}
#mobile{
    display: none;
}
.logo{
    font-size: 24px;
    cursor: pointer;
    transition: 0.4s;
}
.logo:hover{
    color: rgb(41, 76, 107);

}
@media screen and (max-width:760px){
    nav{
        padding:20px;
        box-shadow: none;
     }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        top: 80px;
        right: -800px;
        width: 100%;
        height: 300px;
        background-color: rgb(12, 6, 22);
        padding: 40px 0 0 10px;
        transition: 0.5s ease-in-out;
        opacity: 0.9;
        border-bottom: 2px solid rgb(134, 109, 109);
    }
    
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: block;
    }
    #mobile i{
        font-size: 24px;
        cursor: pointer;
    }
}

.main-content{
    border-top: 1px solid rgb(204, 185, 185);
    background-color: rgb(12, 6, 22);
}