.footer{
    color: rgb(172, 186, 207);
     height: 59px;
     border-top: 0.5px solid rgb(189, 162, 162);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}
.social-media{
    width: 20%;
    display: flex;
    justify-content: space-around;
    padding-right: 20px;
}
.footer a{
    text-decoration: none;
    color: rgb(43, 132, 192);
}
 

@media only screen and (max-width:456px){
    .footer{
        display: flex;
        align-items: center;
        flex-direction: column;
    } 
   
    .social-media a{
         padding-right: 20px;
    }
 }
